<svg style="height:<%= graph.size %>px;width:<%= graph.size %>px;"
     version="1.2" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img"
     viewBox="0 0 <%= graph.size %> <%= graph.size %>"  preserveAspectRatio="none">
  <title class="title">
    A circle chart showing your Results
  </title>

  <text x="<%= graph.center %>" y="<%= graph.center + 10 %>"
        font-size="30px" text-anchor="middle" fill="#C1C1C1">
    <%= graph.percentage.to_i %>%
  </text>
  <circle cx="<%= graph.center %>" cy="<%= graph.center %>"
          r="<%= graph.radius %>" />
  <path
    class="score_path"
    d="M<%= graph.arc_start %>
      A <%= graph.radius %> <%= graph.radius %> 0 0 1 <%= graph.arc_end_rhs %>
      A <%= graph.radius %> <%= graph.radius %> 0 0 1 <%= graph.arc_end_lhs %>"
    fill="none"
    stroke="#<%= generate_light_color %>"
    stroke-dasharray="<%= graph.percentage_adj %>, <%= graph.circumference %>"
  />
</svg>
