<p id="notice"><%= notice %></p>

<h1>Circle Graphs</h1>

<% @circle_graphs.each do |circle_graph| %>
  <div class="circle_graph">
    <%= render "circle_graph_svg",
              total: circle_graph.total,
              score: circle_graph.score
    %>
  </div>

  <%= link_to 'Show', circle_graph %>
  <%= link_to 'Edit', edit_circle_graph_path(circle_graph) %>
  <%= link_to 'Destroy', circle_graph, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'New Circle Graph', new_circle_graph_path %>
