<p id="notice"><%= notice %></p>

<div class="circle_graph">
  <%= render "circle_graph_svg",
            total: @circle_graph.total,
            score: @circle_graph.score
  %>
</div>

<p>
  <strong>Score:</strong>
  <%= @circle_graph.score %>
</p>

<p>
  <strong>Total:</strong>
  <%= @circle_graph.total %>
</p>

<%= link_to 'Edit', edit_circle_graph_path(@circle_graph) %> |
<%= link_to 'Back', circle_graphs_path %>
