<%= form_with(model: pie_graph, local: true) do |form| %>
  <% if pie_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pie_graph.errors.count, "error") %> prohibited this pie_graph from being saved:</h2>

      <ul>
      <% pie_graph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score1 %>
    <%= form.number_field :score1,
          placeholder: "Enter a score",
          autofocus: true,
          aria: { "described-by": "score1-error" } %>
    <p class="error" id="score1-error">
      <%= pie_graph.errors[:score1].first %>
    </p>
  </div>

  <div class="field">
    <%= form.label :score2 %>
    <%= form.number_field :score2,
          placeholder: "Enter a score",
          aria: { "described-by": "score2-error" } %>
    <p class="error" id="score2-error">
      <%= pie_graph.errors[:score2].first %>
    </p>
  </div>

  <div class="field">
    <%= form.label :score3 %>
    <%= form.number_field :score3,
          placeholder: "Enter a score",
          aria: { "described-by": "score3-error" } %>
    <p class="error" id="score3-error">
      <%= pie_graph.errors[:score3].first %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit class: "button purple" %>
  </div>
<% end %>
