<%= form_with(model: pie_graph, local: true) do |form| %>
  <% if pie_graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pie_graph.errors.count, "error") %> prohibited this pie_graph from being saved:</h2>

      <ul>
      <% pie_graph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scores %>
    <%= form.text_field :scores,
          placeholder: "x, y, z",
          autofocus: true,
          aria: { "described-by": "scores-error" } %>
    <p class="error" id="scores-error">
      <%= pie_graph.errors[:scores].first %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit class: "button purple" %>
  </div>
<% end %>
