<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Presenting Graphs!</h1>
      <p><strong>
        Here are some graphs I made using Ruby to generate SVG's
        Feel free to check out the <%= link_to "code on Github", "https://github.com/Rhiana/presenting_graphs", target: "_blank" %>
      </strong></p>
    </header>
    <nav class="page__preview">
      <%= link_to circle_graphs_path, class: "preview_link" do %>
        <div class="circle_graph">
          <%= render "circle_graphs/circle_graph_svg",
                    total: 100,
                    score: 27
          %>
        </div>
        <span>Circle Graphs</span>
      <% end %>
      <%= link_to bar_graphs_path, class: "preview_link" do %>
        <div class="bar_graph">
          <%= render "bar_graphs/bar_graph_svg",
                    total: 100,
                    score: 73
          %>
        </div>
        <span>Bar Graphs</span>
      <% end %>
    </nav>
  </article>
</section>
