<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Presenting Graphs!</h1>
      <p><strong>
        Here are some graphs I made using Ruby to generate SVG's
        Feel free to check out the <%= link_to "code on Github", "https://github.com/Rhiana/presenting_graphs", target: "_blank" %>
      </strong></p>
    </header>
    <nav class="page__preview">
      <%= link_to bar_graphs_path, class: "preview_link" do %>
        <div class="bar_graph">
          <%= BarPresenter.new(self, 21, 8, 200, 180).render %>
        </div>
        <span>Bar Graphs</span>
      <% end %>
      <%= link_to circle_graphs_path, class: "preview_link" do %>
        <div class="circle_graph">
          <%= CirclePresenter.new(self, 27, 100, 200).render %>
        </div>
        <span>Circle Graphs</span>
      <% end %>
      <%= link_to gauge_graphs_path, class: "preview_link" do %>
        <div class="gauge_graph">
          <%= GaugePresenter.new(self, 65, 100, 180).render %>
        </div>
        <span>Gauge Graphs</span>
      <% end %>
      <%= link_to pie_graphs_path, class: "preview_link" do %>
        <div class="pie_graph">

        </div>
        <span>Pie Graphs</span>
      <% end %>
      <%= link_to line_graphs_path, class: "preview_link" do %>
        <div class="line_graph">
          <%= LinePresenter.new(self, 23, 7, 36, 180).render %>
        </div>
        <span>Line Graphs</span>
      <% end %>
    </nav>
  </article>
</section>
