<svg style="height:<%= graph.height %>px;width:<%= graph.width %>px;"
     version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img"
     viewBox="0 0 <%= graph.width %> <%= graph.height %>"  preserveAspectRatio="none">
  <title class="title">
    A bar chart showing your Results
  </title>

  <g class="grid x-grid">
    <%= graph.x_grid_lines %>
  </g>

  <g class="grid y-grid">
    <%= graph.y_grid_lines %>
  </g>

  <g class="labels y-labels">
    <%= graph.scale_labels %>
  </g>

  <g>
    <%= graph.bars %>
    <%= graph.labels %>
  </g>

</svg>
