<svg style="height:<%= graph.height %>px;width:<%= graph.width %>px;"
     version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img"
     viewBox="0 0 <%= graph.width %> <%= graph.height %>"  preserveAspectRatio="none">
  <title class="title">
    A bar chart showing your Results
  </title>

  <rect width="<%= graph.width %>"
        height="<%= graph.fill %>"
        y="<%= graph.y_coord %>"
  />

  <text x="<%= graph.x_text_coord %>" y="<%= graph.y_text_coord %>">
    <%= graph.percentage.to_i %>%
  </text>
</svg>
