<p id="notice"><%= notice %></p>

<h1>Bar Graphs</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar_graphs.each do |bar_graph| %>
      <tr>
        <td><%= bar_graph.score %></td>
        <td><%= bar_graph.total %></td>
        <td><%= link_to 'Show', bar_graph %></td>
        <td><%= link_to 'Edit', edit_bar_graph_path(bar_graph) %></td>
        <td><%= link_to 'Destroy', bar_graph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar Graph', new_bar_graph_path %>
