<p id="notice"><%= notice %></p>

<h1>Bar Graphs</h1>

<% @bar_graphs.each do |bar_graph| %>
  <div class="bar_graph">
    <%= render "bar_graph_svg",
              total: bar_graph.total,
              score: bar_graph.score
    %>
  </div>
  <%= link_to 'Show', bar_graph %>
  <%= link_to 'Edit', edit_bar_graph_path(bar_graph) %>
  <%= link_to 'Destroy', bar_graph, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<%= link_to 'New Bar Graph', new_bar_graph_path %>
