<% content_for :title, " - All bar graphs" %>

<% if notice %>
  <p id="notice" role="alert"><%= notice %></p>
<% end %>

<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Bar Graphs</h1>
      <p><strong>
        Here are some basic SVG bar graphs where it's filling in a percentage

      </strong></p>
    </header>
    <nav class="page__preview">

    <% @bar_graphs.each do |bar_graph| %>
      <%= link_to edit_bar_graph_path(bar_graph), class: "preview_link" do %>
        <div class="bar_graph">
          <%= BarPresenter.new(self, bar_graph.score, bar_graph.total, 200, 90).render %>
        </div>
        <span>Update</span>
      <% end %>
    <% end %>
    </nav>
    <div class="page__cta">
      <%= link_to 'New Bar Graph', new_bar_graph_path, class: "button purple" %>
      <%= link_to 'Other Graphs', root_path, class: "button pink" %>
    </div>
  </article>
</section>
