<p id="notice"><%= notice %></p>

<div class="bar_graph">
  <%= render "bar_graph_svg",
            total: @bar_graph.total,
            score: @bar_graph.score
  %>
</div>

<p>
  <strong>Score:</strong>
  <%= @bar_graph.score %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bar_graph.total %>
</p>

<%= link_to 'Edit', edit_bar_graph_path(@bar_graph) %> |
<%= link_to 'Back', bar_graphs_path %>
