<svg style="height:<%= graph.size %>px;width:<%= graph.size %>px;"
     version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="graph" aria-labelledby="title" role="img"
     viewBox="0 0 <%= graph.size %> <%= graph.size %>"  preserveAspectRatio="none">
  <title class="title">
    A line chart showing your Results
  </title>

  <g class="grid x-grid">
    <%= graph.x_grid_lines %>
  </g>

  <g class="grid y-grid">
    <%= graph.y_grid_lines %>
  </g>

  <g class="labels y-labels">
    <%= graph.scale_labels %>
  </g>

  <g class="surfaces">
    <%= graph.area_under_line %>
  </g>

  <g class="points_line">
    <%= graph.data_line %>
  </g>

  <g class="points" data-setname="Scores">
    <%= graph.data_points %>
  </g>

</svg>
